@charset "utf-8";
/*-------------------------------------------------------------------
    File definition: Common css
    Order:    Header > table > list > input > select box, radiobutton, checkbox > Footer 
-------------------------------------------------------------------*/

.container {
  max-width: 1440px;
  margin: 0 auto;
  width: 95%;
  height: 100%;
}

/* use responsive */
.mo_item {
  display: block;
}

/* line clamp */
.line_clamp_1 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.line_clamp_2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.line_clamp_3 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

/* img */
img {
  width: 100%;
  height: 100%;
  transition: ease-in-out 0.3s;
}

.cursor-pointer {
  cursor: pointer;
}

/* sub custom title */
.sub_custom_title {
  font-size: 50px;
  font-weight: 700;
}

/* input start */

.custom_input {
  border: 1px solid var(--bs-gray);
  height: 40px;
  /* width: 300px; */
  border-radius: 10px;
  padding: 2px 10px;
  font-size: 14px;
}
.custom_input_form {
  border: none;
  height: 40px;
  width: 300px;
  border-radius: 0;
  padding: 2px 10px;
  font-size: 14px;
  background: #999;
}

/* input end */

/* textarea start */
.custom_textarea {
  border: 1px solid var(--bs-gray);
  height: 100px;
  width: 300px;
  border-radius: 10px;
  padding: 2px 17px !important;
  font-size: 14px;
}
/* textarea end */

/* table start */

/* table end */

/* list start */

/* list end */

/* select box start */

/* select box end */

/* radiobutton start */

/* radiobutton end */

/* checkbox start */
/* radio button start */

.form-check {
  display: flex;
  gap: 16px;
}
.form-check label {
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  line-height: 32px;
  letter-spacing: -0.48px;
  text-align: left;
}
.form-check .checkbox_wrap {
  display: flex;
  align-items: center;
}
.form-check input[type="radio" i] {
  cursor: pointer;
  appearance: none;
  width: 18.33px;
  height: 18.33px;
  margin-bottom: 2px;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: var(--bs-white);
  border: 1px solid var(--bs-black);
  position: relative;
}

.form-check input[type="radio" i]:checked {
  background-color: var(--bs-primary);
  border: 1px solid var(--bs-black);
}

.form-check input[type="radio" i]:checked::before {
  content: "";
  background-image: url(/assets/imgs/icons/Vector.png);
  display: block;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  border-radius: 2px;
  position: absolute;
  top: 5px;
  left: 3px;
}

/* checkbox end */
/* subcate menu start */
.sub_quick_menu_gp {
  width: 75px;
  height: fit-content;
  position: fixed;
  z-index: 99;
  right: 0;
  top: 25%;
}
.sub_quick_menu_gp .sub_quick_menu {
  height: fit-content;
  background-color: var(--bs-white);
  border: 1px solid #999999;
  border-right: none;
  border-top-left-radius: 18px;
  margin-bottom: 24px;
  border-bottom-left-radius: 18px;
}
.sub_quick_menu_gp .sub_quick_menu button {
  width: 100%;
  height: 78px;
}
.sub_quick_menu_gp .sub_quick_menu button img {
  width: 24px;
  height: 24px;
}
.sub_quick_menu_gp .sub_quick_menu button p {
  font-size: 14px;
  font-weight: 600;
  color: var(--bs-primary);
  margin-top: 4px;
  line-height: 19.09px;
  letter-spacing: -0.48px;
  text-align: center;
}
.bg_blue {
  background-color: var(--bs-primary);
  border-top-left-radius: 18px;
}
.txt_white {
  color: var(--bs-white) !important;
}
.sub_quick_menu_gp .scroll_top button,
.sub_quick_menu_gp .dm button {
  width: 50px;
  transition: all 0.1s linear;
  height: 50px;
  margin: 0;
  padding: 0;
}
.sub_quick_menu_gp .scroll_top button:hover,
.sub_quick_menu_gp .dm button:hover {
  transform: scale(1.05);
}
.sub_quick_menu_gp .scroll_top button img,
.sub_quick_menu_gp .dm button img {
  width: 50px !important;
  height: 50px;
}
.sub_quick_menu_gp .dm button {
  margin-top: 10px;
}
/* subcate menu end */

/* header start */
.header {
  width: 100%;
  height: 100px;
  background-color: var(--bs-white);
  border-bottom: 1px solid #dedede;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}
.header .header_inn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0 20px;
}
.header .head_img {
  width: 240px;
  height: 46px;
}

.header .gnb {
  display: flex;
  height: 100%;
  align-items: center;
  gap: 80px;
}
.header .gnb li {
  height: 100%;
  position: relative;
}
.header .gnb a {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: -0.48px;
}
.header .lnb {
  margin-top: 36px;
}
.header .lnb li {
  margin-bottom: 16px;
}
.header .lnb a {
  font-size: 17px;
  font-weight: 400;
  line-height: 27px;
  transition: 0.3s;
}
.header .lnb a:hover {
  font-weight: 700;
}

.header .depth2 {
  margin-top: 36px;
  opacity: 0;
  pointer-events: none;
}
.lnb_bg {
  background: var(--bs-white);
  width: 100%;
  height: 0;
  position: absolute;
  top: 0;
  transition: top 0.4s;
  bottom: 0px;
  margin-top: 100px;
  text-indent: -999999999px;
}
.all_search_input {
  width: 100%;
  max-width: 800px;
  position: absolute;
  transform: translateX(-49%);
  left: 50%;
  top: 190px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.all_search_input input {
  border: 0;
  outline: none;
  border-bottom: 2px solid #000;
  background: var(--bs-white);
  width: 68%;
  font-size: 18px;
  font-weight: 700;
  padding: 2px 10px;
}

.header .head_contact {
  font-size: 18px;
  font-weight: 500;
  display: flex;
  align-items: center;
}
.header .head_contact strong {
  font-size: 18px;
  font-weight: 700;
  margin-right: 32px;
  margin-left: 5px;
}
.header .header_search_btn {
  background: url(../imgs/icons/ico_srch_btn.png);
  width: 30px;
  height: 30px;
  border: 0;
  outline: 0;
  text-indent: -99999999px;
}

/* conseling start */
/* conseling start */
/* .conseling_inn {
  display: flex;
  margin-top: 80px;
  user-select: none;
  justify-content: space-between;
  align-items: center;
  gap: 36px;
  margin-bottom: 130px;
}
.conseling_inn .conseling_img_gp img {
  width: calc(50%-18px);
  height: 596px;
}
.conseling_inn .conseling_form {
  width: 703px;
  background-color: #f1f1f1;
  height: 100%;
  padding: 31.5px 28.5px;
}
.conseling_inn .conseling_form form h2 {
  font-size: 36px;
  font-weight: 700;
  line-height: 42.96px;
  letter-spacing: -0.47999998927116394px;
  text-align: left;
  margin-bottom: 16px;
}
.conseling_inn .conseling_form .form-input {
  display: flex;
  margin-top: 16px;
  width: 100% !important;
  flex-wrap: wrap;
  align-items: center;
  gap: 18px;
}
.conseling_inn .conseling_form .form-input .w-50 {
  width: calc(50%-9px);
}
.conseling_inn .conseling_form .form-input .w-100 {
  width: 100%;
}
.conseling_inn .conseling_form .form-input .w-50 input ,.conseling_inn .conseling_form .form-input .w-100 input {
  width: 100%;
}
.conseling_inn .conseling_form .form-input .captcha_gp {
  width: calc(50%-9px);
}
.conseling_inn .conseling_form .form-input .captcha_gp .captcha {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}
.conseling_inn .conseling_form .form-input .captcha_gp h3 {
  font-size: 24px;
  font-weight: 500;
  line-height: 28.64px;
  letter-spacing: 0.5px;
  margin-left: 10px;
  text-align: left;
}
.conseling_inn .conseling_form .form-input .captcha_gp img {
  width: 207px;
  height: 72px;
}
.conseling_inn .conseling_form .form-input .reset_btn {
  width: 72px;
  height: 72px;
  position: absolute;
  cursor: pointer;
  top: 0;
  right: 0px;
  border-radius: 8px;
  background-color: var(--bs-primary);
}
.conseling_inn .conseling_form .form-input .form_note p {
  font-size: 20px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: -0.48px;
  text-align: left;
}
.conseling_inn .conseling_form .form-input .form_note p span {
  width: fit-content;
  padding: 0px 7px;
  border: 1px solid #000000;
  border-radius: 16px;
  height: 28px;
}
.conseling_inn .conseling_form .consultation_reception button {
  width: 100% !important;
  border-radius: 8px;
  height: 73px !important;
  font-size: 24px;
  font-weight: 600;
  text-align: center !important;
  line-height: 27px;
  letter-spacing: 0.5px;
  margin-top: 59px;
  text-align: left;
  transition: all 0.1s linear;
}
.conseling_inn .conseling_form .consultation_reception button:hover {
  background-color: var(--bs-white);
  color: var(--bs-primary);
} */

/* conseling_start new */
.conseling_inn {
  width: 100%;
  display: flex;
  align-items: start;
  gap: 36px;
  padding: 80px 0px 130px 0px;
}
.conseling_img_gp {
  width: calc(50%-18px);
  height: 586px;
}
.conseling_img_gp img {
  object-position:left;
}
.conseling_inn .conseling_form form {
  width: 703px;
  padding: 31.5px 28.5px;
  background-color: #f1f1f1;
  height: fit-content;
}
.conseling_inn .conseling_form h2 {
  font-size: 36px;
  margin-bottom: 16px;
  font-weight: 700;
  line-height: 42.96px;
  letter-spacing: -0.48px;
  text-align: left;
}
.conseling_inn .conseling_form .form-input {
  width: 100%;
  display: flex;
  gap: 18px;
  flex-direction: column;
  margin-top: 8px;
}
.conseling_inn .conseling_form .form-input .w_half_gp,
.conseling_inn .conseling_form .form-input .w_full_gp {
  width: 100% !important;
  display: flex;
  justify-content: space-between;
  gap: 18px;
}
.conseling_inn .conseling_form .form-input input {
  width: 100%;
  height: 72px;
  font-size: 24px;
  font-weight: 500;
  line-height: 28.64px;
  letter-spacing: 0.5px;
  text-align: left;
  padding: 2px 10px;
  border-radius: 8px;
}
.conseling_inn .conseling_form .form-input input::placeholder {
  padding: 0px;

}
.conseling_inn .conseling_form .form-input .w_full_gp .input_wrap {
  width: 100%;
}
.conseling_inn .conseling_form .form-input .w_half_gp .input_wrap {
  width: 50%;
}

.conseling_inn .conseling_form .form-input .captcha_gp {
  width: 100%;
  display: flex;
  height: fit-content;
  align-items: center;
}
.conseling_inn .conseling_form .form-input .captcha_gp .captcha img {
  width: 207px;
  height: 72px;
}
.conseling_inn .conseling_form .form-input .captcha_gp .captcha {
  width: 50% !important;
  display: flex;
  align-items: center;
  margin-right: 18px;
}
.conseling_inn .conseling_form .form-input .captcha_gp .captcha h3 {
  font-size: 24px;
  font-weight: 500;
  line-height: 28.64px;
  width: 100px;
  letter-spacing: 0.5px;
  text-align: left;
}
.reset_btn {
  width: 72px;
  background-color: var(--bs-primary);
  height: 72px;
  position: absolute;
  display: flex;
  top: 0;
  border-radius: 8px;
  right: 0;
  justify-content: center;
  align-items: center;
}
.reset_btn img {
  width: 46.96px;
  height: 46.96px;
}
.conseling_inn .conseling_form .form_note {
  width: 100%;
  margin-top: 12px;
}
.conseling_inn .conseling_form .form_note p {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: -0.47999998927116394px;
  text-align: left;
}
.conseling_inn .conseling_form .form_note button {
  font-size: 20px;
  margin-left: 8px;
  user-select: none;
  font-weight: 600;
  line-height: 23.87px;
  background-color: var(--bs-white);
  letter-spacing: -0.47999998927116394px;
  text-align: left;
  padding: 2px 7px;
  border-radius: 16px;
  border:1px solid var(--bs-black)
}
.conseling_inn .conseling_form .form_note button.active {
  background-color: var(--bs-primary);
  color: var(--bs-white);
  border: 1px solid var(--bs-primary);
}
.conseling_inn .consultation_reception {
  margin-top: 59px;
  user-select: none;
}
.conseling_inn .consultation_reception button {
  width: 100%;
  height: 72px;
  background-color: var(--bs-primary);
  font-size: 24px;
  font-weight: 600;
  border: 1px solid transparent;
  line-height: 27px;
  border-radius: 8px;
  transition: all 0.2s linear;
  text-align: center;
  letter-spacing: 0.5px;
}
.conseling_inn .consultation_reception button:hover {
  background-color: var(--bs-white);
  color:var(--bs-primary);
  border: 1px solid var(--bs-primary);
}
/* mobile menu */
.hamburger {
  display: none;
  position: sticky;
  top: 20px;
  right: 20px;
  height: 28px;
  margin-left: 15px;
  -webkit-transition: all 0.3s cubic-bezier(0.47, 0, 0.745, 0.715);
  transition: all 0.3s cubic-bezier(0.47, 0, 0.745, 0.715);
  border: none;
  background: none;
  outline: none;
  z-index: 10000;
  text-indent: -999999px;
}
.hamburger span {
  display: block;
  width: 28px;
  height: 2px;
  background-color: var(--bs-black);
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.hamburger.active span:nth-child(1) {
  -webkit-transform: translateY(7px) rotate(45deg);
  transform: translateY(7px) rotate(45deg);
}
.hamburger.active span:nth-child(2) {
  opacity: 0;
}
.hamburger.active span:nth-child(3) {
  -webkit-transform: translateY(-7px) rotate(-45deg);
  transform: translateY(-7px) rotate(-45deg);
}

.mo_menu {
  position: fixed;
  background: var(--bs-white);
  height: auto;
  width: 100%;
  display: none;
  transition:
    top 0.3s ease,
    opacity 3s ease;
  top: -100%;
  padding: 30px 0;
  opacity: 0;
  box-shadow: 0px 11px 34px 0px rgb(0 0 0 / 10%);
}
.mo_menu .depth1 > a span {
  display: block;
  float: left;
  padding: 10px 30px;
  width: auto;
  color: var(--bs-black);
  box-sizing: border-box;
  font-weight: 600;
}
.mo_menu .mo_list {
  position: relative;
}
.mo_menu .mo_list img {
  width: 20px;
  height: 15px;
  cursor: pointer;
  object-fit: contain;
  transform: rotate(-90deg);
}
.mo_menu .mo_list .mo_snb {
  display: none;
}
.mo_menu .mo_snb a {
  color: var(--bs-black);
  padding: 5px 50px;
  display: block;
}
.mo_menu .mo_list.open img {
  transform: rotate(-180deg);
}
.mo_menu .depth1 > a {
  display: flex;
  align-items: center;
}
.mo_menu.active {
  display: block;
  top: 80px;
  opacity: 1;
}
/* header end */
/* common start */
/* conseling end */

/* header start */
.sub_page_header {
  margin-top: 97px;
}
.sub_page_header h1 {
  font-weight: 700;
  font-size: 56px;
  line-height: 66.83px;
  letter-spacing: -0.48px;
  text-align: center;
  padding: 150px 0px 161px 0px;
}
.sub_page_header .left_p {
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  letter-spacing: 0.5px;
  border-bottom: 1px solid #d9d9d9;
  padding: 12px 0px 12px 32px;
}
.sub_page_header_box {
  display: flex;
  justify-content: space-between;
  padding: 94px 0px 60px 0px;
  border-bottom: 1px solid #000000;
  align-items: center;
}
.sub_page_header_box h2 {
  font-weight: 700;
  font-size: 56px;
  line-height: 66.83px;
  letter-spacing: -0.48px;
}
.sub_page_header_box p {
  font-weight: 400;
  font-size: 24px;
  line-height: 28.64px;
  letter-spacing: 0.8px;
  padding-top: 38px;
}
/* header end */

/*title start */
.sub_page_title {
  font-weight: 700;
  font-size: 56px;
  line-height: 66.83px;
  letter-spacing: -0.48px;
  text-align: center;
  padding-top: 86px;
  margin-top: 97px;
}
.sub_page_title p {
  font-weight: 400;
  font-size: 24px;
  line-height: 28.64px;
  letter-spacing: 0.8px;
  padding-top: 32px;
}
.sub_menu_header h2 {
  font-weight: 700;
  font-size: 56px;
  line-height: 66.83px;
  letter-spacing: -0.48px;
  text-align: center;
}
.sub_menu_title {
  display: flex;
  align-items: center;
  gap: 40px;
  flex-wrap: wrap;
  margin-top: 32.5px;
  margin-bottom: 100px;
}
.sub_menu_title a {
  color: #999999;
  font-weight: 500;
  font-size: 26px;
  line-height: 31.03px;
  letter-spacing: 1px;
  width: 165px;
  text-align: center;
}
.sub_menu_title .first_a {
  text-align: left;
}
.sub_menu_title .sub_menu_hor_ln {
  background-color: #999999;
  width: 1px;
  height: 19px;
  text-indent: -999999999px;
  display: inline;
}
/* title end */

/* button start */
.sort_down_cont {
  display: flex;
  justify-content: center;
  margin: 56px 0px 57px 0px;
}
.sort_down {
  display: flex;
  justify-content: space-between;
  padding: 9px 19px;
  border-radius: 50px;
  border: 1px solid #999999;
  width: 170px;
  height: 60px;
  align-items: center;
  text-align: center;
}
.sort_down:hover {
  cursor: pointer;
}
.sort_down .sort_down_text a {
  font-weight: 500;
  font-size: 18px;
  line-height: 21.48px;
  letter-spacing: 0.5px;
  text-align: center;
  color: #747474;
}
.sort_down .sort_down_img img {
  width: 20px;
  height: 20px;
  align-items: center;
}
.list_btn_cont {
  display: flex;
  justify-content: center;
  margin-bottom: 130px;
  width: 100%;
}
.list_btn {
  width: 160px;
  height: 46px;
  border: 1px solid #999999;
  align-items: center;
  display: flex;
  justify-content: center;
  cursor: pointer;
  transition: all 0.2s linear;
}
.list_btn a {
  font-weight: 300;
  font-size: 20px;
  align-content: center;
  text-align: center;
  line-height: 23.87px;
  width: 100%;
  height: 100%;
  /* letter-spacing: 1px; */
}
.list_btn:hover {
  background-color: var(--bs-primary);
}
.list_btn:hover.list_btn a {
  color: var(--bs-white) !important;
}
.view_form_btn_cont {
  margin: 72px 0px 130px 0px;
}
.view_form_btn {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 12px;
}
.view_form_btn a {
  width: 210px;
  height: 56px;
  padding: 19px 0;
  border: 1px solid #747474;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  vertical-align: middle;
  color: #747474;
}
.view_form_btn .apply_btn {
  border: 1px solid #000000;
  color: #fff;
  background-color: #000000;
  transition: all 0.1s linear;
}
.view_form_btn .to_list_btn:hover {
  background: var(--bs-black);
  color: var(--bs-white);
}
.view_form_btn .apply_btn:hover {
  color: var(--bs-black);
  background: var(--bs-white);
}
.serach_address_btn button {
  height: 60px;
  border: 1px solid #3074f1;
  padding: 20px 43px;
  background-color: #fff;
  color: #3074f1;
}
.consultation_reception button {
  height: 38px;
  padding: 7px 28px;
  color: #fff;
  background-color: #051e60;
}
.previous_btn_cont {
  display: flex;
  justify-content: center;
}
.previous_btn {
  width: 160px;
  height: 60px;
  border-radius: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #747474;
}
.previous_btn a {
  color: var(--bs-white);
  font-weight: 600;
  font-size: 18px;
  text-align: center;
  align-content: center;
  width: 100%;
  height: 100%;

}
/* button end */

/* pagination start */
.pagination_box {
  display: flex;
  justify-content: center;
  gap: 28px;
  margin: 72px 0px 58px 0px;
}
.pagination_box .img_box {
  border: 1px solid #eaeaea;
  border-radius: 20px;
  background-color: #fff;
  padding: 6px 12px;
}
.pagination_box img {
  width: 8px;
  height: 10px;
}
.pagination_box .img_box_cont:hover {
  cursor: pointer;
}
.pagination_box .img_box_cont {
  display: flex;
  gap: 8px;
}
.pagination_box .text_box {
  display: flex;
  gap: 49px;
  padding: 4px 0px;
  align-items: center;
  align-content: center;
}
.pagination_box .text_box a {
  font-size: 18px;
  font-weight: 400;
  line-height: 21.48px;
  letter-spacing: -0.48px;
  text-align: center;
}
.pagination_box .text_box a:nth-child(1) {
  font-weight: 600;
  font-size: 24px;
}
.pagination_box .text_box a:hover {
  cursor: pointer;
}
/* pagination end */

/* content start */
.product_cont {
  margin: 55px 0px 72px 0px;
}
.product_cont_box {
  display: flex;
  justify-content: space-between;
  gap: 45px;
  margin-bottom: 97px;
}
.product_cont_box .area_box {
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
}
.product_cont_box .area_box h2 {
  font-weight: 700;
  font-size: 26px;
  line-height: 27px;
  letter-spacing: 1px;
}
.product_cont_box .area_box h2:hover {
  cursor: pointer;
}
.product_cont_box .area_box .p_box {
  display: flex;
  gap: 5px;
}
.product_cont_box .area_box .p_box p {
  font-size: 20px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0.5px;
  color: #000;
}
.product_cont_box .area_box .p_box p:hover {
  cursor: pointer;
}
.product_cont_box .home_img_box img {
  height: 353px;
}
.product_cont_box .home_img_box img:hover {
  cursor: pointer;
}
.talk_news_cont {
  margin: 56px 0px;
  border-bottom: 1px solid #dedede;
}
.talk_news_cont .news_header_box {
  display: flex;
  gap: 10px;
  margin-bottom: 36px;
}
.talk_news_cont .news_header_box h2 {
  font-weight: 600;
  font-size: 32px;
  line-height: 38.19px;
  letter-spacing: -0.48px;
  color: #000000;
}
.talk_news_cont .news_header_box span {
  font-weight: 600;
  font-size: 24px;
  line-height: 27px;
  letter-spacing: 0.5px;
  color: #3074f1;
  display: flex;
  align-items: flex-end;
}
.news_img_box {
  display: flex;
  gap: 97px;
  padding: 64px 40px;
  border-top: 1px solid #dee2e6;
}
.news_img_box .img_box {
  height: 344px;
  width: 566px;
}
/* .news_img_box .img_box img {
  width: 100%;
  height: 100%;
} */
.news_img_box .img_box img:hover {
  cursor: pointer;
}
.news_img_box .news_text_box_cont {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 170px;
  margin: 16.5px 0px;
}
.news_img_box .news_text_box_cont .all_texts {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.news_img_box .news_text_box_cont .all_texts span {
  font-weight: 400;
  color: #999999;
  line-height: 27px;
  font-size: 20px;
  letter-spacing: 0.5px;
}
.news_img_box .news_text_box_cont .all_texts span:hover {
  cursor: pointer;
}
.news_img_box .news_text_box_cont .all_texts h3 {
  font-size: 34px;
  font-weight: 600;
  line-height: 40.57px;
  letter-spacing: 0.5px;
}
.news_img_box .news_text_box_cont .all_texts h3:hover {
  cursor: pointer;
}
.news_img_box .news_text_box_cont .all_texts h4 {
  font-size: 24px;
  font-weight: 400;
  line-height: 28.64px;
  letter-spacing: 0.8px;
}
.news_img_box .news_text_box_cont .all_texts h4:hover {
  cursor: pointer;
}
.news_img_box .news_text_box_cont .button_box a {
  font-weight: 700;
  font-size: 14px;
  line-height: 16.71px;
  letter-spacing: 0.8px;
  color: #121b2a;
}
.search_result_cont {
  margin: 56px 0px;
  border-bottom: 1px solid #dedede;
}
.search_result_cont .search_header_box {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}
.search_result_cont .search_header_box h2 {
  font-weight: 600;
  font-size: 32px;
  line-height: 38.19px;
  letter-spacing: -0.48px;
  color: #000000;
}
.search_result_cont .search_header_box span {
  font-weight: 600;
  font-size: 24px;
  line-height: 27px;
  letter-spacing: 0.5px;
  color: #3074f1;
  display: flex;
  align-items: flex-end;
}
.search_img_box_cont {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
}
.community_interior_tips .search_img_box_cont {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
}
.search_img_box_cont .search_img_box .search_text_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.search_img_box_cont .search_img_box img {
  height: 214px;
  width: 100%;
}
.search_img_box_cont .search_img_box img:hover {
  cursor: pointer;
}
.search_img_box_cont .search_img_box .search_text_box {
  display: flex;
  justify-content: space-between;
}
.search_img_box_cont .search_img_box .search_text_box p {
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: -0.48px;
}
.search_img_box_cont .search_img_box .search_text_box p:hover {
  cursor: pointer;
}

/* content end */
/* kzwk */
/* mayThu */
/* common_category start  */
.common_cate_gp {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  width: 100%;
  user-select: none;
}
.common_cate_gp tr {
  display: flex;
}

.common_cates {
  display: flex;
  position: relative;
}
.bl_none {
  border-left-color: transparent !important;
}
.br_none {
  border-right-color: transparent !important;

}
.common_cate {
  border: 1px solid var(--bs-black);
  width: 134px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: 400;
  transition: all 0.1s ease-in-out;
  letter-spacing: 0.5px;
  text-align: center;
}
.common_cate1_gp {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--bs-black);
  border-top: none;
  position: absolute;
  z-index: 22;
  top: 40px;
  /* left: -0.031rem; */
  left:-1px;
  background-color: var(--bs-white);
  width: 135px;
}

.common_cate_gp a:hover {
  background-color: #3074f1;
  color: var(--bs-white);
}

.common_cate1 {
  width: 100%;
  height: 40px;
  align-content: center;
  font-size: 20px;
  font-weight: 400;
  transition: all 0.1s ease-in-out;
  letter-spacing: 0.5px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hidden {
  display: none;
}
/* conseling  start*/

/* common input */

.common_input input {
  height: 60px;
  border: none;
  width: 390px;
  background: #f6f6f6;
}
.input_wrap input {
  border: none;
  font-size: 24px;
  /* custom ur self */
  /* width: 390px;  */
  height: 72px;
  /*  */
  background: #f6f6f6;
}
/* width for input  */
.w-314 {
  width: 314px !important;
}
.w-646 {
  width: 646px !important;
}
/*  */
.input_wrap input::placeholder {
  font-size: 24px;
  font-weight: 500;
  line-height: 28.64px;
  letter-spacing: 0.5px;
  color: #000000;
  text-align: left;
}
.custom_placeholder,
.custom_placeholder::placeholder {
  color: var(--bs-gray) !important;
  letter-spacing: 0.5px;
}
.custom_placeholder::placeholder {
  width: 205px !important;
}

/* common input end */

/* select box */
.common_select_box {
  position: relative;
}
.common_select_box input {
  cursor: pointer;
  outline: none;
  border: none;
  border-bottom: none;
  background: #f6f6f6;
  height: 40px;
  width: 320px;
  cursor: auto;
  padding: 10px;
  font-size: 16px;
  font-weight: 400;
}
.common_select_box::after {
  position: absolute;
  top: 45%;
  left: 30%;
  width: 12px;
  height: 12px;
  transform: translateY(-50%);
  content: "";
  background: url(/assets/imgs/icons/iconoir_arrow-right.png) 50% no-repeat;
  z-index: 90;
  pointer-events: none;
}
.common_select_box.active::after {
  transform: rotate(-180deg);
  top: 10%;
}
.common_select_box .section_select {
  display: none;
  width: 320px;
  padding: 10px;
  font-size: 16px;
  font-weight: 400;
  color: #59606a;
  background: #f6f6f6;
}
.common_select_box.on input {
  border: 1px solid var(--bs-black);
  background: #f6f6f6;
  height: 40px;
  width: 320px;
  border-right: none;
  border-left: none;
  border-top: none;
  outline: none;
}
.common_select_box input:focus {
  outline: none;
  color: #f6f6f6;
}
.common_select_box.active .section_select {
  display: block;
}

/* select box end */
/* common end */
/* footer start */
.footer .footer_inn {
  background-color: #121b2a;
}
.pc_hidden {
  display: none;
}
.footer .foot_nav {
  border-bottom: 1px solid #dedede;
  padding: 28px 0;
}
.footer .foot_nav .foot_nav_inn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer .foot_nav .foot_gnb {
  display: flex;
  align-items: center;
  gap: 12px;
}
.footer .foot_nav .foot_gnb a {
  color: #999999;
  font-weight: 600;
  font-size: 14px;
}
.footer .foot_nav .foot_gnb .white_bold {
  color: var(--bs-white);
}
.footer .foot_nav .foot_contact {
  font-size: 18px;
  font-weight: 600;
  color: var(--bs-white);
  display: flex;
  gap: 12px;
  align-items: center;
}
.footer .foot_hor_ln {
  background-color: var(--bs-white);
  width: 1px;
  height: 12px;
  text-indent: -999999999px;
  display: inline;
}
.footer .foot_nav .foot_contact .foot_hor_ln {
  height: 20px;
}

.footer .foot_info_wrpp {
  padding: 48px 0 166px;
}
.footer .foot_img {
  width: 170px;
  height: 33px;
}
.footer .foot_info_wrpp {
  display: flex;
  justify-content: space-between;
}
.footer .foot_info_wrpp .foot_info_inn {
  display: flex;
  gap: 100px;
}
.footer .foot_info {
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer .foot_info > div {
  display: flex;
  align-items: center;
  font-size: 14px;
  gap: 8px;
}

.footer .foot_sns {
  display: flex;
  gap: 16px;
}
.footer .foot_sns a {
  width: 72px;
  height: 72px;
  display: block;
}
.footer .foot_cr {
  background: var(--bs-black);
  color: var(--bs-white);
  text-align: center;
  font-size: 14px;
  padding: 16px 0;
}
/* footer end */

/* common_search */
.common_search {
  /* float: right; */
  display: flex;
  height: 35px;
  align-items: center;
}
.common_search input {
  width: 191px;
  height: 35px;
  font-size: 14px;
  border: none;
  padding-left: 45px;
  border-bottom: 1px solid #000;
}
.common_search input::placeholder {
  font-weight: 400;
  color: #dedede;
}
.common_search a {
  height: 35px;
  width: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid var(--bs-black) !important;
}
.common_search img {
  width: 19px;
  height: 19px;
}
/* common_search end */

/* select box end */
/* common input */

.common_input {
  height: 60px;
  border: none;
  width: 390px;
  font-size: 15px;
  padding: 0 10px;
  background: #f6f6f6;
}

/* common input end */

/* select box */
/* .common_select_box {
  position: relative;
}
.common_select_box input {
  cursor: pointer;
  outline: none;
  border: none;
  border-bottom: none;
  background: #f6f6f6;
  height: 60px;
  width: 170px;
  padding: 10px;
  font-size: 16px;
  font-weight: 400;
}

.common_select_box::after {
  position: absolute;
  top: 45%;
  left: 7%;
  width: 24px;
  height: 24px;
  cursor: pointer;
  transform: translateY(-50%);
  content: "";
  background: url(/assets/imgs/icons/iconoir_arrow-right.png) 50% no-repeat;
  z-index: 90;
}
.common_select_box.active::after {
  transform: rotate(-180deg);
  top: 10%;
}
.common_select_box .section_select {
  display: none;
  width: auto;
  padding: 10px;
  font-size: 16px;
  font-weight: 400;
  color: #59606a;
  background: #f6f6f6;
}
.common_select_box .section_select div {
  width: 133px;
  height: 40px;
}
.common_select_box.on input {
  border: 1px solid var(--bs-black);
  background: #f6f6f6;
  height: 60px;
  width: 170px;
  cursor: pointer;
  border-right: none;
  border-left: none;
  border-top: none;
  outline: none;
}
.common_select_box input:focus {
  outline: none;
  color: #f6f6f6;
}
.common_select_box.active .section_select {
  display: block;
} */
/* select box end */

/* common alert box */
.common_alert_box .common_alert_box_cont {
  width: 448px;
  height: 130px;
  background: var(--bs-white);
  padding: 18px 16px;
  border-radius: 4px;
}
.common_alert_box .common_alert_box_cont h3 {
  font-size: 14px;
  font-weight: 350;
}
.common_alert_box button {
  float: right;
  width: 65px;
  height: 34px;
  background: #408aec;
  border: none;
  border-radius: 4px;
}
.common_alert_box button a {
  color: var(--bs-white);
}
/* common alert box end */

/* common consulation form */
.common_consulation_form table {
  width: 100%;
  border-width: 1px 0px;
  border-style: solid;
  border-color: #dee2e6;
  margin-top: 55px;
  margin-bottom: 72px;
}
.common_consulation_form table tr {
  border-width: 1px 0px;
  border-style: solid;
  border-color: #dee2e6;
}
.common_consulation_form table tr td {
  padding: 30px 0;
  font-size: 20px;
  font-weight: 400;
  color: var(--bs-black);
}
.common_consulation_form table tr .common_consul_td1 {
  width: 156px;
}
.common_consulation_form table tr .common_consul_td2 {
  width: 865px;
}
.common_consulation_form table tr .common_consul_td3 {
  width: 100px;
}
.common_consulation_form table tr .common_consul_td4 {
  width: 160px;
}
.common_consulation_form table tr .common_consul_td5 {
  width: 130px;
}
.common_consulation_form table tr .common_consul_td4 a {
  background: #051e60;
  color: var(--bs-white);
  padding: 7px 28px;
}
.common_consulation_form table tr .common_consul_td2 .img_group {
  width: 11px;
  height: 18px;
  font-size: 20px;
  margin-right: 14px;
  color: #051e60;
}
/* common consulation form end */

/* common guide book */
.common_guide_book {
  display: flex;
  gap: 82px;
  border-bottom: 1px solid #dee2e6;
  width: 100%;
  padding: 56px 0px 40px 0px;
}
.common_guide_book img {
  width: 720px;
  height: 445px;
}
.common_guide_book ul li {
  font-size: 20px;
  font-weight: 400;
  line-height: 31px;
  padding-top: 30px;
  list-style: disc;
}

/* common  architecture gallery start*/
.heading_img {
  width: 100%;
  height: 100%;
}
.heading_img img {
  width: 100%;
  height: 100%;
}
.concept_summary_box {
  display: flex;
}

.concept_summary_box .concept_box {
  width: 50%;
  border: 1px solid #eaeaea;
}
.concept_summary_box .concept_box img {
  width: 100%;
}
.concept_summary_box .concept_box h3,
.concept_summary_box .summary_box h3 {
  font-weight: 600;
  font-size: 24px;
  line-height: 27px;
  letter-spacing: 0.5px;
  border-bottom: 1px solid #eaeaea;
  padding: 29px 0px 29px 32px;
}

.concept_summary_box .concept_box p {
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  letter-spacing: 0.5px;
  padding: 32px 32px 119px 32px;
}

.concept_summary_box .summary_box {
  width: 50%;
  border-width: 1px 1px 1px 0px;
  border-color: #eaeaea;
  border-style: solid;
}

.summary_content_box {
  display: flex;
  gap: 45px;
}

.summary_content_box .content {
  padding: 32px;
}

.summary_content_box .content .content_sub {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.summary_content_box .content .content_sub_box {
  display: flex;
  gap: 16px;
}
.summary_content_box .content .content_sub_box .content_sub_cont {
  width: 95px;
}

.summary_content_box .content .content_sub_box .content_sub_cont2 {
  width: 180px;
}
.summary_content_box .content .content_sub_box .content_sub_cont_text {
  letter-spacing: 6.6px;
}
.summary_content_box .content .content_sub_box .content_sub_cont_text2 {
  letter-spacing: 2px;
}
.summary_content_box .content .content_sub_box .content_sub_cont_text3 {
  letter-spacing: 1.5px;
}
.summary_content_box .content p {
  font-weight: 500;
  font-size: 20px;
  line-height: 27px;
  letter-spacing: 0.5px;
}
.summary_content_box .content p span {
  font-weight: 400;
}

.floor_plan_box {
  border-width: 0px 1px 1px 1px;
  border-color: #eaeaea;
  border-style: solid;
  padding: 29px 0px 29px 32px;
}

.floor_plan_box p {
  font-weight: 600;
  font-size: 24px;
  line-height: 27px;
  letter-spacing: 0.5px;
}

.home_map_box {
  border-width: 0px 1px 1px 1px;
  border-color: #eaeaea;
  border-style: solid;
  padding: 117px 110px;
  margin-bottom: 72px;
  width: 100%;
}
.home_map_box .img_box {
  display: flex;
  width: 100%;
  height: 610px;
}
.home_map_box .img_box img {
  width: 50%;
}
.home_exterior_box h3 {
  font-weight: 700;
  font-size: 56px;
  line-height: 66.83px;
  letter-spacing: -0.48px;
  margin: 72px 0px 24px 32px;
}
.exterior_swiper_box {
  position: relative;
  width: 100%;
}
.mySwiper_Exterior {
  width: 100%;
}
.mySwiper_Exterior .swiper-wrapper img {
  max-width: 1440px;
  width: 100%;
  cursor: pointer;
}
.exterior_swiper_box .swiper-button-prev {
  color: #000000;
  left: -100px;
}
.exterior_swiper_box .swiper-button-next {
  color: #000000;
  right: -100px;
}
.home_interior_box h3 {
  font-weight: 700;
  font-size: 56px;
  line-height: 66.83px;
  letter-spacing: -0.48px;
  margin: 72px 0px 24px 32px;
}
.interior_image_cont {
  position: relative;
  display: inline-block;
}

.interior_image_cont img {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 50%;
  background-color: #ffffff;
}
.overlay2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 68.7%;
  opacity: 50%;
  background-color: #ffffff;
}
.text_area_wrap {
  width: 100%;
  height: 212px;
}
.text_area_wrap textarea {
  resize: none;
  background-color: #f6f6f6;
  border: 1px solid #f6f6f6;
  font-size: 24px;
  font-weight: 500px;
  line-height: 28.64px;
  letter-spacing: 0.5px;
  color: #000000;
  padding: 22px 8px;
  width: 100%;
  height: 100%;
}
.consult_housing {
  border-top: 1px solid #eaeaea;
  margin-top: 72px;
  margin-bottom: 72px;
  padding-top: 106px;
  padding-bottom: 16px;
}
.consult_housing .conseling_inn {
  margin-bottom: 0px;
}
/* common  architecture gallery end*/
.custom-select select {
  display: block;
  width: 100%;
  color: #333;
  appearance: none;
  height: 60px;
  padding: 0 10px;
  font-size: 16px;
  border: none;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: #f6f6f6;
  outline-color: var(--bs-dark);
}
.custom-select {
  width: 188px;
  height: 60px;
  position: relative;
}
.custom-select::after {
  content: "";
  position: absolute;
  top: 30%;
  right: 10%;
  z-index: 90;
  transform: rotate(-45deg);
  width: 13px;
  height: 13px;
  border: 1px solid #333;
  border-top: 1px solid var(--bs-white);
  border-right: 1px solid var(--bs-white);
  /* background-image: url(/assets/imgs/icons/iconoir_arrow-right.png); */
  background-size: cover;
  pointer-events: none;
  outline: none;
}
.custom-select.active::after {
  top: 30px;
  transform: rotate(-225deg);
}
