@media screen and (max-width: 1470.98px) {
  html {
    overflow-x: hidden;
  }
  body {
    overflow-x: hidden;
  }

  /* construct form */
  .constructconsult_list .common_consulation_form .common_consul_td2 {
    width: auto;
  }
  /* .constructconsult_form
    .common_constructconsult_form
    .common_sub_table
    .common_sub_table_th {
    min-width: 120px;
  } */
  .constructconsult_form .input_box3 {
    width: 260px;
  }
  .constructconsult_form .common_sub_table .common_select_box.select_box2 input,
  .constructconsult_form
    .common_sub_table
    .common_select_box.select_box2
    .section_select {
    width: 200px;
  }
  .constructconsult_list .common_consulation_form table tr .common_consul_td2 {
    width: 465px;
  }
  .constructconsult_form .common_sub_table .common_select_box.select_box2 {
    width: 200px;
  }
  /* construct form end */
  /* appforguidebook_list */
  .common_guide_book img {
    width: 650px;
    height: 450px;
  }
  .common_guide_book ul li {
    font-size: 22px;
  }
  /* appforguidebook_list end*/
}
@media screen and (max-width: 1300.98px) {
  .constructconsult .constructconsult_form_title h1 {
    font-size: 46px;
  }
  /* constructconsult_list */

  .constructconsult_list
    .common_consulation_form
    table
    tr
    .common_consul_td4
    a {
    padding: 7px 19px;
  }
  .constructconsult_list .common_consulation_form table tr td {
    font-size: 16px;
  }
  /* constructconsult_list end */

  /* construction form */
  .constructconsult_form .common_sub_table .construct_td.construct_td_btn h3,
  .constructconsult_form .common_sub_table .construct_td_btn a {
    font-size: 16px;
  }

  .constructconsult_form .constructconsult_form_title h1 {
    font-size: 28px;
    margin-bottom: 30px;
  }

  .constructconsult_form .constructconsult_form_title h4 {
    font-size: 18px;
    margin-bottom: 30px;
  }
  /* .constructconsult_form .common_sub_table .select_box3 .section_select {
    width: 100%;
    font-size: 13px;
  }
  .constructconsult_form .common_sub_table .select_box3.on3 input,
  .constructconsult_form .common_sub_table .select_box3.on4 input,
  .constructconsult_form .common_sub_table .select_box3.on5 input {
    height: 40px;
  }
  .constructconsult_form .common_sub_table .select_box input,
  .constructconsult_form .common_sub_table .select_box3 input,
  .constructconsult_form
    .common_sub_table
    .common_select_box.select_box
    .section_select,
  .constructconsult_form .common_input {
    width: 100%;
    font-size: 13px;
  }
  .constructconsult_form
    .common_sub_table
    .common_select_box.select_box2
    input {
    width: 100%;
    margin-left: 2px;
  } */

  .custom-select.custom_select1 {
    width: 100%;

    border: 1px solid #dedede;
  }

  .custom-select {
    width: 33.33%;
    border: 1px solid #dedede;
  }
  summary {
    background: var(--bs-white);
    height: 45px;
  }
  summary:after {
    position: relative;
    top: -50%;
  }
  details {
    margin-right: 0px;
  }
  .custom-select .constructconsult_form .common_sub_table .select_box3_cont,
  .constructconsult_form .common_sub_table .select_box3_cont1,
  .constructconsult_form .common_sub_table .select_box3_cont2 {
    width: 100%;
  }
  .constructconsult_form .common_sub_table .select_box::after,
  .constructconsult_form .common_sub_table .select_box3::after {
    top: 45%;
    left: 97%;
  }

  .constructconsult_form .select_box.active::after,
  .constructconsult_form .common_sub_table .select_box1.active::after,
  .constructconsult_form .common_sub_table .select_box2.active::after,
  .constructconsult_form .common_sub_table .select_box3.active::after {
    transform: rotate(-180deg);
    top: 10%;
  }
  .constructconsult_form .input_box {
    width: 140px;
  }
  .constructconsult_form .input_box11 {
    min-width: 250px;
  }
  /* .constructconsult_form .input_box2 {
    width: 200px;
  } */
  .constructconsult_form .scroll_box {
    height: 200px;
  }
  .constructconsult_form .common_input.input_box3 {
    width: 33.33%;
    margin: 0 5px;
  }

  /* appforguidebook_list */
  .common_guide_book img {
    width: 520px;
    height: 400px;
  }
  .common_guide_book ul li {
    font-size: 18px;
  }
  /* appforguidebook_list end*/
  /* constructconsult */
  .constructconsult.constructconsult_form .construct_tr2_td,
  .constructconsult.constructconsult_form .construct_td1 {
    padding-top: 0px;
  }
  .constructconsult.constructconsult_form .common_constructconsult_table_th {
    padding-bottom: 30px;
  }
  .constructconsult .common_sub_table th {
    width: 20%;
  }
  .constructconsult.constructconsult_form .guide_cont {
    margin-top: 0px;
  }

  /* form responsive */
  .constructconsult_form .common_constructconsult_table_th {
    display: block;
    padding: 50px 0px 0px 0px;
  }

  .constructconsult_form .common_sub_table .construct_td span {
    margin-top: 8px;
    text-align: center;
  }
  .constructconsult_form .construct_td_text .construct_td_text_cont {
    padding: 20px;
  }
  .constructconsult_form .construct_td_text .construct_td_text_cont {
    margin-top: 20px;
    font-size: 13px;
  }
  .constructconsult_form .common_sub_table .construct_td.construct_td_btn h3,
  .constructconsult_form .common_sub_table .construct_td_btn a {
    font-size: 13px;
  }
  .constructconsult_form .construct_td_text1_cont1 {
    font-size: 13px;
    width: 80%;
  }
  .constructconsult_form .construct_td_text1_cont1 input {
    width: 5px;
    height: 5px;
  }
  .construct_td_text1_cont1_span {
    font-size: 13px;
  }

  .constructconsult_form .common_input.input_gap {
    margin: 0;
    width: 33.33%;
  }

  .constructconsult_form .common_select_box input,
  .constructconsult_form .common_input {
    width: 100%;
    height: 45px;
    background: var(--bs-white);
    border: 1px solid #dedede;
  }
  .constructconsult_form .common_sub_table .common_select_box.select_box1 {
    width: 33.33%;
  }
  .common_select_box input,
  .constructconsult_form .common_sub_table .select_box1.on1 input {
    width: 100%;
  }
  .constructconsult_form .common_input {
    margin: 0px;
    width: 33.33%;
  }
  .constructconsult_form .common_input.input_box {
    width: 33%;
  }
  .constructconsult_form .common_sub_table .common_select_box::after {
    width: 10px;
    height: 10px;
  }
  .constructconsult_form .constructconsult_form .construct_tr,
  .constructconsult_form td {
    margin: 0 auto;
    display: block;
    width: 100%;
  }

  .constructconsult_form .common_sub_table td {
    padding-bottom: 20px;
    margin: 0;
  }
  .constructconsult_form .common_sub_table .construct_td span {
    padding: 0px 1px;
  }
  .constructconsult_form .common_sub_table .construct_td {
    gap: 0px;
  }
  .constructconsult_form .common_input1 {
    padding: 0px 2px;
    width: 100%;
    background: var(--bs-white);
    border: 1px solid #dedede;
  }
  .constructconsult_form .common_input.input_box4,
  .constructconsult_form .common_input.input_boxs {
    width: 100%;
  }
  .constructconsult_form .common_input.input_box11 {
    width: 100%;
  }
  .constructconsult_form .common_input.input_boxs {
    width: 100%;
  }
  .constructconsult_form .common_sub_table .last_td {
    padding-bottom: 0px;
    display: flex;
    width: 100%;
    gap: 6px;
  }
  .appforas_list .form_date {
    width: 100%;
    height: 40px;
    border: 1px solid #dedede;
    background: var(--bs-white);
  }
  .appforas_list .scroll_box {
    height: 100px;
    width: 100%;
  }
  .constructconsult_form table {
    overflow-x: hidden;
  }
  .constructconsult_form .common_sub_table .construct_td_img img {
    width: 200px;
    height: 46px;
  }
  .constructconsult_form .common_sub_table .select_box1::after {
    left: 90%;
  }
  .constructconsult_form .construct_td {
    padding: 0;
  }
}
@media screen and (max-width: 1000.98px) {
  /* constructconsult_list */
  .constructconsult_list .common_consulation_form table tr .common_consul_td2 {
    width: 365px;
  }
  .constructconsult_list .common_consulation_form table tr .common_consul_td2 {
    width: 360px;
  }
  .constructconsult_list .common_consulation_form table tr .common_consul_td3 {
    width: 200px;
  }
  .constructconsult_list .common_consulation_form table tr .common_consul_td4 {
    width: 200px;
  }

  /* construction list  end*/

  /* appforguidebook_list */
  .common_guide_book {
    gap: 40px;
  }
  .common_guide_book img {
    width: 400px;
    height: 350px;
  }
  .common_guide_book ul li {
    font-size: 14px;
    padding: 10px 0;
  }
  /* appforguidebook_list end*/

  /* constructconsult  */

  .constructconsult .common_sub_table th {
    min-width: 200px;
  }
  .constructconsult_list .appforguidebook_list_title {
    font-size: 25px;
  }
  /* constructconsult end */
}
@media screen and (max-width: 767.98px) {
  /* common_filter */
  .common_filter .common_filter_box li a {
    font-size: 14px;
  }

  /* form responsive */
  .constructconsult_form .common_sub_table .select_box1::after {
    left: 85%;
  }
  .constructconsult_form
    .common_constructconsult_form
    .common_sub_table
    .common_sub_table_th,
  .constructconsult_form .common_constructconsult_form .common_sub_table th {
    font-size: 13px;
  }
  .constructconsult_form .common_sub_table .select_box::after,
  .constructconsult_form .common_sub_table .select_box3::after {
    top: 45%;
    left: 95%;
  }
  .constructconsult_form .common_sub_table .common_select_box.select_box1 {
    font-size: 13px;
  }
  .constructconsult_form .common_sub_table .construct_td {
    font-size: 13px;
  }
  .common_select_box .section_select div {
    font-size: 13px;
  }
  .constructconsult_form .common_sub_table .select_box1.on1 input {
    height: 40px;
  }
  /* constructconsult list */
  .constructconsult_list .common_consulation_form table tr td {
    font-size: 14px;
  }
  .common_search input {
    width: 186px;
  }
  /* .common_search img {
    left: -14%;
  } */
  .common_search input {
    padding-left: 20px;
    font-size: 12px;
  }
  .common_search img {
    width: 18px;
    height: 18px;
  }
  .constructconsult_list .search_btn button a {
    font-size: 15px;
  }
  .constructconsult_list .common_consulation_form table tr .common_consul_td2 {
    width: 200px;
  }
  .constructconsult_list .common_consulation_form table tr .common_consul_td3 {
    width: 140px;
  }
  /* appforguidebook_list */
  .common_guide_book {
    gap: 30px;
  }
  .common_guide_book img {
    width: 260px;
    height: 200px;
  }
  .common_guide_book ul li {
    font-size: 13px;
    padding: 5px 0;
    line-height: 23px;
  }
  /* appforguidebook_list end*/

  /* constructconsult */
  .constructconsult_form .common_constructconsult_table_th {
    font-size: 16px;
  }
  .constructconsult
    .common_constructconsult_form
    .common_sub_table
    .common_sub_table_th,
  .constructconsult .common_sub_table th {
    font-size: 13px;
  }
  .constructconsult .common_sub_table td {
    font-size: 13px;
  }
  /* constructconsult end */

  /* appforguidebook */
  .appforguidebook .constructconsult_form_title h1 {
    font-size: 18px;
    margin-bottom: 30px;
  }
  .appforguidebook .constructconsult_form_title h4 {
    font-size: 14px;
    margin-bottom: 30px;
  }
  .constructconsult_form .form_text3 {
    font-size: 13px;
    padding: 10px;
    background: #f6f6f6;
  }
  .appforguidebook .view_form_btn a {
    padding: 19px 58px;
  }
  .appforguidebook .constructconsult_table_th {
    font-size: 16px;
    padding: 20px 0;
    font-weight: 700;
  }
  .form_text {
    display: flex;
    justify-content: start;
  }
  .form_text1 {
    gap: 40px;
  }
  .form_text2 {
    gap: 30px;
  }
  .form_text3 {
    gap: 20px;
  }
  .form_text3 .form_text_left {
    min-width: 78px;
  }
  .form_text_left,
  .form_text_right {
    font-size: 13px;

    line-height: 30px;
  }

  .appforguidebook .constructconsult_table_th,
  .constructconsult .constructconsult_table_th {
    font-size: 16px;
    padding: 20px 0;
    font-weight: 700;
  }
  .appforguidebook ul,
  .constructconsult ul {
    padding-left: 20px;
  }
  .appforguidebook ul li,
  .constructconsult ul li {
    list-style: disc;
  }
  /* appforguidebook end */

  .appforguidebook .common_constructconsult_form.pc_hidden_p,
  .constructconsult .common_constructconsult_form.pc_hidden_p {
    display: block;
  }
  .appforguidebook .common_constructconsult_form.mobile_hidden_m,
  .constructconsult .common_constructconsult_form.mobile_hidden_m {
    display: none;
  }
}
@media screen and (max-width: 575.98px) {
  .common_filter .common_filter_box li {
    width: 33%;
  }
  .constructconsult_form .common_select_box input,
  .constructconsult_form .common_input {
    height: 40px;
  }
  summary {
    height: 40px;
  }
  summary:after {
    position: relative;
    top: -110%;
    width: 10px;
    height: 10px;
  }
  .custom-select input[type="radio"]:after {
    font-size: 13px;
    position: absolute;
    top: 10%;
    line-height: 30px;
    vertical-align: middle;
  }
  /*constructconsult_list */

  .common_search input {
    margin-bottom: 10px;
    width: 100%;
  }
  .common_search img {
    top: -50%;
    left: 84%;
  }
  .constructconsult_list .common_consulation_form table tr .common_consul_td4 {
    width: 100px;
  }
  .constructconsult_list .constructconsult_list_title {
    font-size: 20px;
  }
  .constructconsult_list h5 {
    font-size: 17px;
  }
  .constructconsult_list .common_consulation_form table tr .common_consul_td2 {
    width: 300px;
  }

  .constructconsult_list
    .common_consulation_form
    table
    tr
    .common_consul_td2
    h4 {
    font-size: 17px;
  }
  .constructconsult_list
    .common_consulation_form
    table
    tr
    .common_consul_td2
    .date {
    font-size: 14px;
    color: #6c757d !important;
  }
  .constructconsult_list .d-block {
    display: block;
  }
  .constructconsult_list .d_md_none {
    display: none;
  }

  /* appforguidebook_list */
  .common_guide_book {
    display: block;
    width: 100%;
    border: none;
  }
  .common_guide_book img {
    width: 100%;
    height: 250px;
  }
  .common_guide_book ul {
    margin-left: 20px;
  }
  .common_guide_book ul li {
    font-size: 14px;
    padding: 5px 0;
    line-height: 23px;
  }
  /* appforguidebook_list end*/

  /* constructconsult */
  .common_guide_book {
    border: 1px solid #dee2e6;
    border-width: 0px 0px 1px 0px;
    padding: 10px 0;
  }
  .constructconsult .common_sub_table th {
    min-width: 150px;
  }
  /* constructconsult end*/

  .constructconsult_form .common_constructconsult_form_table .construct_td1 {
    padding: 46px 0;
  }
  /* constructconsult */
  .container.constructconsult_form {
    margin-top: 27px;
  }
}

@media screen and (max-width: 483px) {
  /* constructconsult*/
  .constructconsult_list .search_btn button {
    width: 100px;
  }
  .constructconsult .common_sub_table th {
    min-width: 60px;
  }
  .constructconsult .view_form_btn a {
    padding: 3px 65px;
    font-size: 13px;
  }

  /* form responsive */
  .constructconsult_form .common_sub_table .select_box1::after {
    left: 80%;
  }
  .constructconsult_form .common_sub_table .select_box::after,
  .constructconsult_form .common_sub_table .select_box3::after {
    left: 89%;
  }
  .constructconsult_form input[type="checkbox" i] {
    width: 12px;
    height: 12px;
  }
  .constructconsult_form .constructconsult_form_title h1 {
    font-size: 18px;
  }
  .constructconsult_form .constructconsult_form_title h4 {
    font-size: 14px;
  }
  .constructconsult_form .construct_td_text1_cont1_span {
    font-size: 13px;
    line-height: 20px;
  }
  .container.constructconsult_form {
    margin-top: 37px;
  }

  .constructconsult_form .common_constructconsult_form_table .construct_td1 {
    padding: 36px 0;
  }
  /*form responsive end  */
  /* constructconsult*/

  .constructconsult .view_form_btn_cont {
    margin: 40px 0px 90px 0px;
  }
  /* constructconsult end*/

  /* appforguidebook */
  .container.appforguidebook {
    margin-top: 37px;
  }
  .appforguidebook .constructconsult_form_title h1,
  .constructconsult .constructconsult_form_title h1 {
    font-size: 18px;
    margin-bottom: 30px;
  }
  .appforguidebook .constructconsult_form_title h4,
  .constructconsult .constructconsult_form_title h4 {
    font-size: 14px;
    margin-bottom: 30px;
  }
  .appforguidebook .guide_cont {
    font-size: 13px;
    padding: 10px;
  }
  .constructconsult_form .view_form_btn a {
    padding: 12px 58px;
  }
  .appforguidebook .constructconsult_table_th,
  .constructconsult .constructconsult_table_th {
    font-size: 16px;
    padding: 20px 0;
    font-weight: 700;
  }
  .form_text {
    display: flex;
    justify-content: start;
  }
  .form_text1 {
    gap: 30px;
  }
  .form_text2 {
    gap: 20px;
  }
  .form_text3 .form_text_left h4,
  .form_text2 .form_text_left h4 {
    min-width: 70px;
  }
  .form_text_left,
  .form_text_right {
    font-size: 13px;

    line-height: 30px;
  }

  .pc_hidden_p {
    display: block;
  }
  .mobile_hidden_m {
    display: none;
  }
  /* appforguidebook  end*/
}
