/* constructconsult_form */
.container.constructconsult_form {
  margin-top: 97px;
}
.container.constructconsult_list,
.container.appforguidebook_list,
.container.showroom_form {
  margin-top: 120px;
}
.constructconsult_form .constructconsult_form_title {
  display: flex;
  justify-content: space-between;
}
.constructconsult_form .constructconsult_form_title h1,
.constructconsult .constructconsult_form_title h1 {
  font-size: 56px;
  margin-top: 94px;
  margin-bottom: 60px;
  font-weight: 700;
  color: var(--bs-black);
}

.constructconsult_form .common_input.input_box5 {
  width: 100%;
  border: 1px solid #dedede;
  background: var(--bs-white);
}
.constructconsult_form .constructconsult_form_title h4,
.constructconsult .constructconsult_form_title h4 {
  font-size: 24px;
  margin-top: 130px;
  margin-bottom: 60px;
  font-weight: 400;
  color: var(--bs-black);
}
.constructconsult_form
  .common_constructconsult_form
  .common_sub_table
  .common_sub_table_th {
  padding: 15px 0;
  font-size: 20px;
}

.constructconsult_form .common_constructconsult_form .common_sub_table th {
  font-size: 20px;
  padding: 15px 0;
  height: 60px;
  vertical-align: middle;
}
.construct_tr {
  border: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  border-right: none;
  border-left: none;
  border-top: none;
}
.constructconsult_form .common_constructconsult_table_th {
  min-width: 290px;
  vertical-align: top;
  padding: 76px 0;
  font-size: 28px;
  font-weight: 700;
  text-align: left;
}
.constructconsult_form.constructconsult .common_constructconsult_table_th {
  min-width: 290px;
  vertical-align: top;
  padding: 60px 0;
  font-size: 28px;
  font-weight: 700;
  text-align: left;
}
.constructconsult_form .input_gap {
  margin: 0 10px;
}
.constructconsult_list .common_consulation_form .common_consul_td2 {
  display: flex;
}
.constructconsult_form .common_constructconsult_form_table .construct_td1 {
  padding: 56px 0;
}
.constructconsult_form .common_sub_table th {
  text-align: left;
}
.constructconsult_form .common_sub_table td {
  padding: 15px;
}
.constructconsult_form .common_sub_table .construct_td.construct_td_btn {
  gap: 8px;
}
.constructconsult_form .common_sub_table .construct_td.construct_td_btn h3 {
  line-height: 30px;
}
.constructconsult_form .common_sub_table .construct_td_btn a {
  font-size: 18px;
  border: 1px solid var(--bs-dark-gray);
  padding: 4px 12px;
  background: var(--bs-dark-light);
}
.appforvisit_detail.constructconsult_form .common_constructconsult_table_th {
  width: 20%;
}
.constructconsult_form .common_sub_table .construct_td {
  display: flex;
  font-size: 20px;
  font-weight: 400;
  flex-direction: row;
  gap: 3px;
}
.construct_td_img {
  width: 302px;
}
.constructconsult_form .common_sub_table .construct_td_img img {
  width: 302px;

  height: 76px;
}
.constructconsult_form .common_sub_table .construct_td span {
  margin-top: 20px;
  text-align: center;
}

.constructconsult_form .construct_tr3 .construct_td_text {
  display: block;
  padding: 56px 0;
}
.constructconsult_form .construct_td_text .construct_td_text_cont {
  padding: 44px 16px 20px 40px;
  display: block;
  min-width: 100%;
  margin-top: 50px;
  font-size: 16px;
  line-height: 19px;
  background: var(--bs-dark-light);
}
.constructconsult_form .construct_td_text {
  padding: 28px 0;
}
.constructconsult_form .construct_td_text1 {
  display: flex;
  justify-content: space-between;
}
.constructconsult_form .construct_td_text1_cont1 {
  margin-top: 21px;
  font-weight: 600;
}
.constructconsult_form .construct_td_text1_cont1_span {
  font-size: 16px;
  line-height: 30px;
  vertical-align: top;
}
.constructconsult_form .common_sub_table .select_box input,
.constructconsult_form .common_sub_table .select_box3 input {
  width: 390px;
}

.constructconsult_form .common_sub_table .common_select_box.select_box1 {
  width: 170px;
  margin: 0;
}
.constructconsult_form .common_sub_table .common_select_box.select_box2 {
  width: 298px;
  margin: 0;
}
.constructconsult_form .common_sub_table .common_select_box.select_box2 input {
  width: 298px;
}
.constructconsult_form .common_sub_table .select_box::after {
  top: 45%;
  left: 38%;
}
.constructconsult_form .common_sub_table .select_box3::after {
  top: 45%;
  position: absolute;
  left: 88%;
}
.constructconsult_form .common_sub_table .select_box1::after {
  position: absolute;
  top: 45%;
  left: 75%;
  width: 24px;
  height: 24px;
  cursor: pointer;
  transform: translateY(-50%);
  content: "";
  background: url(/assets/imgs/icons/iconoir_arrow-right.png) 50% no-repeat;
  z-index: 90;
}
.constructconsult_form .common_sub_table .select_box2::after {
  position: absolute;
  top: 45%;
  left: 85%;
  width: 24px;
  height: 24px;
  cursor: pointer;
  transform: translateY(-50%);
  content: "";
  background: url(/assets/imgs/icons/iconoir_arrow-right.png) 50% no-repeat;
  z-index: 90;
}
.constructconsult_form .select_box.active::after,
.constructconsult_form .common_sub_table .select_box1.active::after,
.constructconsult_form .common_sub_table .select_box2.active::after,
.constructconsult_form .common_sub_table .select_box3.active::after {
  transform: rotate(-180deg);
  top: 10%;
}

.constructconsult_form .common_sub_table .select_box.on1 input {
  border: 1px solid var(--bs-black);
  background: var(--bs-dark-light);
  height: 60px;
  width: 390px;
  cursor: pointer;
  border-right: none;
  border-left: none;
  border-top: none;
  outline: none;
}
.constructconsult_form .common_sub_table .select_box1.on1 input {
  border: 1px solid var(--bs-black);
  background: var(--bs-dark-light);
  height: 60px;
  width: 170px;
  cursor: pointer;
  border-right: none;
  border-left: none;
  border-top: none;
  outline: none;
}
.constructconsult_form .common_sub_table .select_box2.on2 input {
  border: 1px solid var(--bs-black);
  background: var(--bs-dark-light);
  height: 60px;
  width: 298px;
  cursor: pointer;
  border-right: none;
  border-left: none;
  border-top: none;
  outline: none;
}
.constructconsult_form .common_sub_table .select_box3.on3 input,
.constructconsult_form .common_sub_table .select_box3.on4 input,
.constructconsult_form .common_sub_table .select_box3.on5 input {
  border: 1px solid var(--bs-black);
  background: var(--bs-dark-light);
  height: 60px;
  width: 298px;
  cursor: pointer;
  border-right: none;
  border-left: none;
  border-top: none;
  outline: none;
}
.constructconsult_form .common_sub_table .select_box3 .section_select {
  width: 390px;
}
.constructconsult_form
  .common_sub_table
  .common_select_box.select_box
  .section_select {
  width: 390px;
}
.constructconsult_form
  .common_sub_table
  .common_select_box.select_box2
  .section_select {
  width: 298px;
}

.constructconsult_form .input_box {
  width: 188px;
  /* margin: 0px 0px 0px 5px; */
}
.constructconsult_form .input_box1 {
  width: 188px;
  margin: 0px 5px 0px 0px;
}
.constructconsult_form .input_box2 {
  width: 252px;
}
.constructconsult_form .input_box3 {
  width: 316px;
}
.input_box4 {
  width: 946px;
  background: var(--bs-white);
  border: 1px solid #dedede;
}
.constructconsult_form .common_sub_table .select_box3.on3 input,
.constructconsult_form .common_sub_table .select_box3.on4 input,
.constructconsult_form .common_sub_table .select_box3.on5 input {
  width: 100%;
}
/* constructconsult_form end */

/* constructconsult_list */
.constructconsult_list .d-none {
  display: none;
}

.constructconsult_list .constructconsult_list_title {
  text-align: center;
  font-weight: 700;
  font-size: 30px;
  margin-bottom: 16px;
}
.constructconsult_list h5 {
  text-align: center;
  margin-bottom: 43px;
}
.constructconsult_list .search_btn {
  justify-content: end;
  display: flex;
  gap: 24px;
  width: 100%;
}
.constructconsult_list .search_btn button {
  width: 180px;
  height: 35px;
  border: none;
  background: #121b2a;
}
.constructconsult_list .search_btn button a {
  color: var(--bs-white);
  font-size: 18px;
  font-weight: 600;
}
/* constructconsult_list end */

/* appforguidebook_list */
.constructconsult_list .appforguidebook_list_title {
  text-align: center;
  font-weight: 700;
  font-size: 30px;
  margin-bottom: 16px;
}
/* appforguidebook_list end */

/* constructconsult  */
.constructconsult
  .common_constructconsult_form
  .common_sub_table
  .common_sub_table_th {
  font-size: 20px;
}
.constructconsult .common_sub_table td {
  width: 100%;
}
.constructconsult .common_sub_table th {
  font-size: 20px;
  font-weight: 400;
  min-width: 220px;
}
.constructconsult .common_sub_table ul {
  padding-left: 20px;
}
.constructconsult .common_sub_table ul li {
  list-style: disc;
}
.constructconsult .common_sub_table .construct_td_bold {
  font-size: 16px;
  font-weight: 700;
}
.constructconsult .construct_tr {
  border: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  border-right: none;
  border-left: none;
  border-top: none;
}

/* constructconsult  end*/

.appforguidebook_list .common_guide_book {
  border: none;
}
.com
/* appforguidebook */
.appforguidebook .guide_tr {
  padding: 56px 0px 0px 0px;
}
.constructconsult_form .guide_cont {
  background: var(--bs-dark-light);
  padding: 48px 40px;
  line-height: 19px;
  font-size: 16px;
  font-weight: 400px;
}
.constructconsult.constructconsult_form .guide_cont {
  margin-top: 70px;
}
.constructconsult_form .construct_tr2_td {
  padding-top: 50px;
}
/* .constructconsult_form .construct_td {
  padding: 56px 0;
} */
.pc_hidden_p {
  display: none;
}

/* appforguidebook  end*/

/* appforas_list */
.appforas_list .input_box {
  margin: 0px;
}
.appforas_list .form_date,
.constructconsult_form .form_date {
  width: 390px;
  height: 60px;
  background: var(--bs-dark-light);
  border: none;
  padding: 10px;
  font-size: 16px;
  color: var(--bs-dark-gray);
}
.appforas_list .scroll_box,
.constructconsult_form .scroll_box {
  border: 1px solid #dedede;
  border-width: 1px 1px 1px 1px;
  overflow: scroll;
  overflow-x: hidden;
  height: 250px;
  width: 100%;
}

/* appforas_list end*/

/* showroom form */
.showroom_form .showroom_img {
  width: 100%;
  height: auto;
}

.showroom_form .showroom_img2 {
  width: 100%;
  height: auto;
}
.showroom_form .showroom_img3 {
  width: 100%;
  height: 389px;
}
.showroom_text {
  position: relative;
  display: flex;
  margin: 72px 0 26px 0;
  width: 100%;
  height: 112px;
  padding: 0 30px;
  background: #ede3da;
  justify-content: space-between;
}
.showroom_text_left {
  font-size: 22px;
  text-align: center;
  line-height: 120px;
  font-weight: 600;
}
.showroom_text_left span {
  color: #937e69;
}
.showroom_text_right {
  font-size: 22px;
  display: flex;

  text-align: center;
  color: #121b2a;
  font-weight: 600;
  line-height: 120px;
}
.showroom_form h5 {
  margin-bottom: 86px;
}
.showroom_form .icon {
  width: 30px;
  height: 30px;
  background: #89674f;
  float: right;
  margin-top: 45px;
  margin-left: 10px;
  border-radius: 50%;
}
.showroom_form .icon img {
  position: relative;
  width: 20px;
  top: -140%;
  left: 4%;
  height: 20px;
}

.showroom_form .mySwiper_Exterior {
  width: 100%;
}

/* select box */
summary.radios.radio_width {
  width: 390px;
}
details.custom_select1[open] {
  width: 390px;
}
details.custom-select.custom_select2 {
  width: 188px;
}

/* appforvisit detail */
.visit-time {
  display: flex;
  padding: 0 20px;
  align-items: center;
  background-color: #f8f8f8;
  border-radius: 5px;
  justify-content: space-between;
  width: 40%;
  height: 60px;
  font-size: 16px;
}

/* appforguidebook form */
.appforguidebook_form .btn,
.appforas_list .btn {
  width: 170px;
  height: 60px;
  border: 1px solid #3074f1;
  background: var(--bs-white);
}
.appforguidebook_form .btn a,
.appforas_list .btn a {
  color: #3074f1;
}
::placeholder {
  color: var(--bs-black);
  font-size: 13px;
  padding-left: 10px;
}

input[type="time"] {
  border: none;
  outline: none;
  background: var(--bs-dark-light);
}
input[type="time"] {
  width: 70%;
  display: flex;

  justify-content: end;
}
.scroll_box {
  padding: 20px;
}

/* 
input[type="date"]::-webkit-datetime-edit-text {
  -webkit-appearance: none;
  display: none;
}
input[type="date"]::-webkit-datetime-edit-month-field {
  -webkit-appearance: none;
  display: none;
}
input[type="date"]::-webkit-datetime-edit-day-field {
  -webkit-appearance: none;
  display: none;
}
input[type="date"]::-webkit-datetime-edit-year-field {
  -webkit-appearance: none;
  display: none;
} */
