body, html{
  overflow-x: hidden;
}
.sub_page_content {
  margin: 191.5px 0px 218.5px 0px;
}

.sub_page_content h3 {
  font-weight: 700;
  font-size: 36px;
  line-height: 42.96px;
  letter-spacing: -0.48px;
  text-align: center;
  margin-bottom: 36px;
}

.search_Result {
  margin-bottom: 130px;
}

.search_img_box_cont .search_text_box .p_box {
  display: flex;
  gap: 5px;
}

.search_img_box_cont .search_text_box .p_box p {
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  letter-spacing: 0.5px;
}

.detail_text_box {
  margin: 64px 0px 60px 0px;
}

.detail_text_box p {
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: 1px;
  margin-bottom: 18px;
}

.detail_text_box h3 {
  font-weight: 700;
  font-size: 57px;
  line-height: 68.02px;
  letter-spacing: 1px;
}
swiper-container {
  width: 100%;
  height: 100%;
}

swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.construction_example_list .common_filter .common_filter_box {
  margin-top: 13px;
}
.space_between{
  width: 100%;
  height: 27px;
  margin-left: 32px;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-around;
}
.h2_space{
  font-weight: 600;
  font-size: 24px;
  line-height: 27px;
  letter-spacing: 0.5px;
  color: #000000;
  width: 100%;
  height: 100%;
}
.scene_live_detail .search_result_cont .search_img_box_cont .search_img_box img{
  height: 270px;
}
.scene_live_detail .search_result_cont{
  padding-bottom: 30px;
  margin: 72px 0px;
}
.scene_live_detail .concept_summary_box{
  margin-top: 229px;
}
.summary_img_box{
  display: flex;
  gap: 16px;
  margin: 112px 53px 0px 43px;
}
.scene_live_detail .home_map_box{
  margin-bottom: 0px;
}
.daily_progress_text {
  border-width: 0px 1px 1px 1px;
  border-color: #eaeaea;
  border-style: solid;
  padding: 29px 0px 29px 32px;
}

.daily_progress_text h3 {
  font-weight: 600;
  font-size: 24px;
  line-height: 27px;
  letter-spacing: 0.5px;
}
.daily_range_box{
  border-width: 0px 1px 1px 1px;
  border-color: #eaeaea;
  border-style: solid;
  padding: 29px 32px 29px 32px;
}
.daily_range_box .range_cont input[type=range]{
  width: 100%;
  height: 22px !important;
  margin: 0;
  padding: 0;
}
input[type="range"]::-webkit-slider-runnable-track{
  border-radius: 11px;
  height: 22px;
}
.progressBar {
  border: solid 2px #82CFD0;
  border-radius: 11px;
  width: 100%;
  height: 22px;
}
.progressBar::-webkit-slider-runnable-track {
  height: 22px;
}
.progressBar::-webkit-slider-thumb {
  opacity: 0;
}
.product_range_box{
  display: flex;
  gap: 4px;
  align-items: center;
}
.product_range_box .sub_menu_hor_ln {
  background-color: #747474;
  width: 1px;
  height: 11px;
  text-indent: -999999999px;
  display: inline;
}
.product_range_box .text_blue{
  font-weight: 500;
  font-size: 16px;
  line-height: 19.09px;
  letter-spacing: -0.48px;
  color: #3074F1;
}
.product_range_box .date_box{
  font-weight: 400;
  font-size: 16px;
  line-height: 19.09px;
  letter-spacing: -0.48px;
  color: #000000;
}
.product_range_box .text{
  font-weight: 400;
  font-size: 16px;
  line-height: 19.09px;
  letter-spacing: -0.48px;
  text-align: right;
}
.range_text_box{
  display: flex;
  gap: 77px;
}
.range_text_box .range_text_sub{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mobile_filter_box{
  display: flex;
  justify-content: space-between;
}