.sub_page_content {
  margin: 191.5px 0px 218.5px 0px;
}
.sub_page_content h3 {
  font-weight: 700;
  font-size: 36px;
  line-height: 42.96px;
  letter-spacing: -0.48px;
  text-align: center;
  margin-bottom: 36px;
}
.search_Result{
    margin-bottom: 130px;
}
.search_img_box_cont .search_text_box .p_box {
  display: flex;
  gap: 5px;
}
.search_img_box_cont .search_text_box .p_box p {
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  letter-spacing: 0.5px;
}
.detail_text_box{
    margin: 64px 0px 60px 0px;
}
.detail_text_box p{
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 1px;
    margin-bottom: 18px;
}
.detail_text_box h3{
    font-weight: 700;
    font-size: 57px;
    line-height: 68.02px;
    letter-spacing: 1px;
}
.concept_summary_box{
    display: flex;
}
.concept_summary_box .concept_box{
    width: 50%;
    border: 1px solid #EAEAEA;
}
.concept_summary_box .concept_box h3 , .concept_summary_box .summary_box h3{
    font-weight: 600;
    font-size: 24px;
    line-height: 27px;
    letter-spacing: 0.5px;
    border-bottom: 1px solid #EAEAEA;
    padding: 29px 0px 29px 32px;
}
.concept_summary_box .concept_box p{
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: 0.5px;
    padding: 32px 32px 119px 32px;
}
.concept_summary_box .summary_box{
    width: 50%;
    border-width: 1px 1px 1px 0px;
    border-color: #EAEAEA;
    border-style: solid;
}
.summary_content_box{
    display: flex;
    gap: 45px;
}
.summary_content_box .content{
    padding: 32px;
}
.summary_content_box .content .content_sub{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.summary_content_box .content .content_sub_box{
    display: flex;
    gap: 16px;
}
.summary_content_box .content p{
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: 0.5px;
}
.floor_plan_box{
    border-width: 0px 1px 1px 1px;
    border-color: #EAEAEA;
    border-style: solid;
    padding: 29px 0px 29px 32px;
}
.floor_plan_box p{
    font-weight: 600;
    font-size: 24px;
    line-height: 27px;
    letter-spacing: 0.5px;
}
.home_map_box{
    border-width: 0px 1px 1px 1px;
    border-color: #EAEAEA;
    border-style: solid;
    padding: 117px 110px;
    margin-bottom: 72px;
}
.home_map_box .img_box{
    display: flex;
}
.slider {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.slides {
    display: flex;
    transition: transform 3s ease;
}

.slide {
    flex: 0 0 auto;
    width: 100%;
}

.slide img {
    width: 100%;
    display: block; 
}

.slider-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.prev-btn {
    left: 10px;
}

.next-btn {
    right: 10px;
}
.home_interior .img_box{
    background: url(/assets/imgs/common/construction_detail/bg.png);
}
swiper-container {
    width: 100%;
    height: 100%;
  }

swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

.mobile_search_Result_container{
    display: none;
}
.slide_container{
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}
.slide_container img{
    width: 100%;
}
.slide_box{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.swiper_text{
    margin-top: 20px;
}
.swiper_text p{
    font-size: 14px;
}
.swiper_text .p_box{
    display: flex;
    justify-content: center;
    gap: 10px;
}
.swiper_text .p_box p{
    font-size: 13px;
}
.mobile_search_header_box h2{
    font-size: 18px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
.mobile_search_result_cont .sort_down_cont {
    display: flex;
    justify-content: flex-end;
    margin: 0px 0px 20px 0px !important;
  }
  .mobile_search_result_cont .sort_down {
    display: flex;
    justify-content: center !important;
    padding: 4px 7px;
    border-radius: 50px;
    border: 1px solid #999999;
    width: 100px;
    height: 40px;
    align-items: center;
    text-align: center;
    align-content: center;
  }
  .mobile_search_result_cont .sort_down .sort_down_text {
    font-weight: 500;
    font-size: 14px;
    line-height: 21.48px;
    letter-spacing: 0.5px;
    text-align: center;
    color: #747474;
    padding-right: 10px;
  }
  .mobile_search_result_cont .sort_down .sort_down_img img{
    width: 18px;
    height: 12px;
    align-items: center;
  }