@charset "utf-8";

/* houesetalkNews_List Start  */
.houesetalknews_list {
  /* padding-top: 97px !important; */
}
.houesetalknews_list .mySwiper_list {
  width: 100vw;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  margin: 0 !important;
  padding: 0 !important;
}
.houesetalknews_list .swiper-wrapper {
  width: 100vw;
  display: flex;
  align-items: start;
}
.houesetalknews_list .swiper-slide {
  width: fit-content !important;
  height: 547px !important;
}
.houesetalknews_list .swiper-slide iframe {
  width: 1022px !important;
  height: 547px !important;
}
.houesetalknews_list .swiper-button-next:after,
.houesetalknews_list .swiper-button-prev:after {
  font-size: 50px;
  color: #747474;
  user-select: none;
}
.houesetalknews_list .mySwiper_list .swiper-button-next {
  right: 350px;
}
.houesetalknews_list .mySwiper_list .swiper-button-prev {
  left: 350px;
}
.houesetalknews_list .swiper_txt {
  max-width: 1022px;
  width: 100%;
  margin: 24px auto;
}
.houesetalknews_list .swiper_txt h3 {
  font-size: 42px;
  font-weight: 500;
  line-height: 50.12px;
  letter-spacing: -0.48px;
  text-align: left;
}
.houesetalknews_list .swiper_txt p {
  font-size: 24px;
  font-weight: 400;
  margin-top: 20px;
  line-height: 28.64px;
  letter-spacing: 0.8px;
  text-align: left;
}

.talk_list {
  margin-top: 100px;
}
.talk_list .product_cont_box {
  margin-bottom: 72px !important;
  user-select: none;
}
.talk_list .home_img_box {
  width: fit-content !important;
  height: fit-content !important;
}
.talk_list .home_img_box img {
  object-fit: cover;
}
.talk_list .product_cont_box .area_box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 12px;
}
.talk_list .product_cont_box .area_box img {
  width: 450px !important;
}
.talk_list .product_cont_box .area_box p {
  font-size: 20px;
  font-weight: 400;
  line-height: 23.87px;
  margin-top: 12px;
  color: #747474;
}
.houesetalknews_list .pagination {
  margin-top: 93px !important;
}
.houesetalknews_list .search_btn_gp,
.community_story_list .search_btn_gp,
.community_interior_tips .search_btn_gp,
.pressrelease_list .search_btn_gp {
  display: flex;
  width: 100%;
  justify-content: end;
}

.pagination {
  user-select: none;
}
.houesetalknews_list .sub_page_title,
.community_story_list .sub_page_title,
.community_story_view .sub_page_title {
  margin-bottom: 115px;
}
.community_story_view .sub_page_title {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: end;
}
.sub_page_title h5 {
  font-size: 24px;
  font-weight: 400;
  line-height: 28.64px;
  letter-spacing: 0.800000011920929px;
  text-align: right;
}
/* houesetalkNews_List End  */
/* houesetalkNews_View Start  */
.houesetalknews_view .sub_page_title,
.pressrelease_view .sub_page_title {
  text-align: start;
}
.view_talk_txt {
  width: 100%;
  height: fit-content;
  text-align: start;
  padding: 12px 32px;
  border-bottom: 1px solid #d9d9d9;
  border-top: 2px solid var(--bs-black);
  margin-top: 60px;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 32px;
  line-height: 27px;
  letter-spacing: 0.5px;
  text-align: left;
}
.view_talk_txt span {
  margin-right: 16px;
}
.houesetalknews_view .view_talk .view_talk_img {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 48px;
  gap: 4px;
}
.houesetalknews_view .view_talk .view_talk_para {
  padding-top: 36px;
  width: 100%;
  border-top: 1px solid #d9d9d9;
  height: fit-content;
  margin-bottom: 127px;
}
.houesetalknews_view .view_talk .view_talk_para p {
  font-size: 32px;
  font-weight: 400;
  line-height: 38.19px;
  letter-spacing: 0.5px;
}
.houesetalknews_view .view_talk_utube iframe {
  height: 810px;
}
.houesetalknews_view .view_talk_utube {
  padding-bottom: 72px;
  border-bottom: 1px solid #d9d9d9;
}
.button_gp {
  padding: 37px 0px 130px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.button_gp .consult_link {
  margin-top: 56px;
}
.button_gp .consult_link img {
  width: 40px;
  height: 40px;
}

/* houesetalkNews_View End  */
/* .community_story_list start */
.community_story_list .story_list_box {
  margin-top: 64px;
  border-bottom: 1px solid #d9d9d9;
}
/* .community_story_list end */
/* community_story_view start */
.community_story_view .story_view_area img {
  width: 100%;
  user-select: none;
}
.community_story_view .story_view_area {
  margin-bottom: 48px;
  user-select: none;
}
.view_talk_para2 p {
  font-size: 32px;
  font-weight: 400;
  line-height: 38.19px;
  letter-spacing: 0.5px;
  padding: 36px 0px 72px 0px;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
}
/* community_story_view end */
/* .community_interior_tips start */
.community_interior_tips .search_text_box {
  flex-direction: column;
  align-items: start !important;
}
.community_interior_tips .search_result_cont {
  border: none !important;
}
.community_interior_tips .search_Result_container {
  width: 100%;
}
.community_interior_tips .search_img_box_cont .search_img_box img {
  height: 333px;
}
.community_interior_tips .search_img_box_cont {
  margin-bottom: 72px;
}

/* .community_interior_tips end */

/* pressrelease_list start  */

.pressrelease_list .talk_list .product_cont_box .area_box h2 {
  font-size: 24px;
  font-weight: 600;
  line-height: 27px;
  letter-spacing: 0.1px;
  text-align: left;
}
.pressrelease_list .talk_list .product_cont_box .area_box p {
  font-size: 16px;
  font-weight: 400;
  line-height: 19.09px;
  text-align: left;
}
.active_a {
  font-weight: 700 !important;
  color: var(--bs-black) !important;
  border-bottom: 3px solid #3074f1;
  width: fit-content;
}
.view_talk {
  user-select: none;
}
.sns_card_gp {
  display: flex;
  gap: 40px ;
  user-select: none;
  width: 100%;
  justify-content: center;
  margin-bottom: 234px;
  align-items: center;
}
.sns_card_gp .sns_card {
  width: calc(50%-20px);
  height: 417px;
  position: relative;
  cursor: pointer;
}
.sns_card_gp .sns_card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 8px;
}
.sns_card_gp .sns_card p {
  font-size: 24px;
  margin-top: 24px;
  font-weight: 600;
  line-height: 27px;
  letter-spacing: 1px;
  text-align: left;
}
.sns_card_gp .wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 22;
  border-radius: 8px;
  top: 0;
  display: flex;
  transition: all 0.2s linear;
  opacity: 0;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 0, 0, 0.56);
  left: 0;
}
.sns_card_gp .wrapper a img{
  width: 108px;
}
.sns_card_gp .wrapper a .sns_img {
  width: 200px;
}
.sns_card_gp .wrapper a span {
  font-size: 22px;
  font-weight:700;
  letter-spacing: 1px;
  color:var(--bs-white);
}
.sns_card_gp .sns_card:hover .wrapper {
 opacity: 1;
}
/* pressrelease_list end  */
